*{
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7fe07c;
}

.container{
  max-width: 400px;
  margin:o auto;
  border: 1px solid #fff;
  border-radius: 10px; 
  padding: 20px;
  background-color: #e5f7fd;
}

label{
  
  color: #000000;
}

.container input, button{
  
  height: 40px;
  width: 100%;
  font-size: 30PX;
}

.container input{
  
  border: none;
  border-bottom: 1px solid #000000;
  color: rgb(0, 0, 0);
  
}

.container select{
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  color: #1d1d1d;
  text-align: center;
  border-color: rgb(19, 12, 12);
  cursor: pointer;
}
.container select:hover{
  background-color: #fffdfe;
  color: #000000;
}


.container button{
  border: none;
  border-radius: 5px;
  background-color: #45b141;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.container .resultado{
  font-size: 20px;
  text-align: center;
  color: #000000;
}